.checkbox-type {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

    }



    input:checked ~ .checkbox-light-gray {
        background: #d2d2d2;
    }

    input:checked ~ .checkbox-gray {
        background: #95a5a6;
    }

    input:checked ~ .checkbox-sky-blue {
        background: #2ab7eb;
    }

    input:checked ~ .checkbox-yellow {
        background: #dec85e;
    }

    input:checked ~ .checkbox-lavender {
        background: #786bbf;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    background-color: #fff;

    &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &.checkbox-light-gray {
        background: lighten(#d2d2d2, 10%);
    }

    &.checkbox-gray {
        background: lighten(#95a5a6, 20%);
    }

    &.checkbox-sky-blue {
        background: lighten(#2ab7eb, 20%);
    }

    &.checkbox-yellow {
        background: lighten(#dec85e, 20%);
    }

    &.checkbox-lavender {
        background: lighten(#786bbf, 20%);
    }
}