header {
  height: 50px;
  background-color: #fcc10f;
  padding: 0 20px;
}

.icon {
  height: 20px;
  width: 20px;
}

.header-avatar {
  width: 30px;
  height: 30px;
  background-color: darkgray;
}
footer {
  display: flex;
  padding: 20px;
  .footer-about {
    margin-right: 100px;
  }
}
